.footer .position { max-width:660px; }
.body { max-width:600px; margin:0 auto; }
#header_title { @include flpr($width:auto) }
.header { border:none; }



#main_nav {
  float:right;
  width:auto;
  margin-top:-1em;
  ul { margin-top:.25em; width:auto; }
  ul li a { padding:1em; }
}

.resume {
  #main_nav { width:auto; }
  #main_nav ul { 
    width:auto; 
    float:right;
    margin-top:25px;

    li { 
      width:auto; 
      padding:0 10px 0 0; 
      font-size:.8em; 
    }
  }

  .header { 
    position:fixed;
    background:#fff;
    z-index:100;

    .container { padding-bottom:10px; }
  }

  .skills { 
    padding:5em 0 3em; 
    h3 {float:left; padding-right:2em; }
    .slash_list { max-width:700px; }
  }

  #content .job {
    padding:2em 0;
    .info { width:40%; }
    .description { width:56%; float:right; padding-top:0; }
  }

  .col2 {
    .column { @include flpr(40%); }
    .column.last { float:right; width:56%; }
  }
}
