<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="//use.typekit.net/gbo8ird.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} > sayhellotoeric.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description" content="Eric Lindstrom is a UX engineer, developer, and designer that builds responsive web applications.">
    <meta name="keywords" content="eric lindstrom, lindstrom, lndstrm, ux, ux engineer, developer, designer, interactive, responsive, html5, mobile, tablet, applications, javascript, api, programmer, django">
    <meta name="author" content="Eric Lindstrom">

    <meta property="og:title" content="Say Hello To Eric" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.sayhellotoeric.com" />
    <meta property="og:image" content="http://userserve-ak.last.fm/serve/_/294343/The+Fresh+Prince.jpg" />
    <meta property="og:description" content="Eric Lindstrom is a UX engineer, developer, and designer that builds responsive HTML5 web applications.">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://www.sayhellotoeric.com">
    <meta name="twitter:title" content="Say Hello To Eric">
    <meta name="twitter:description" content="Eric Lindstrom is a UX engineer, developer, and designer that builds responsive HTML5 web applications.">
    <meta name="twitter:image" content="http://userserve-ak.last.fm/serve/_/294343/The+Fresh+Prince.jpg">
    <meta name="twitter:site" content="@ericlindstrom">
    <meta name="twitter:creator" content="@ericlindstrom">

    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/shte.css">

  </head>
    <body class="{{ page.class }}">
      <div id="wrap">
        <header class="header">
          <div class="position">
            <div class="container">
              <h2 id="header_title"><a href="/">{{ site.name }}</a></h2>
              <nav id="main_nav">
                <ul>
		  <li><a href="/posts/">Posts</a></li>
                  <!-- <li><a href="/about/">About</a></li> -->
                </ul>
              </nav>
            </div>
          </div>
        </header>
        <section id="content">
          <div class="position">
            <div class="container">{{ content }}</div>
          </div>
        </section>
      </div>

       <footer class="footer">
         <div class="position">
	   <div class="container">
             <p>
               Hello, I'm Eric, Senior UX Engineer at <a target="_blank" href="http://cukerinteractive.com">Cuker&nbsp;Interactive</a>. A&nbsp;developer and designer that builds responsive applications.
             </p>
             <p>
               <a target="_blank" href="http://github.com/ericlindstrom/">github.com/ericlindstrom</a><br />
               <a target="_blank" href="http://twitter.com/ericlindstrom/">twitter.com/ericlindstrom</a><br />
             </p>
	   </div>
	 </div>
       </footer>

    <script>
      var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-1316680-1'], ['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
